<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>wishlist page</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css
">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- font aweson -->
<link rel="stylesheet" type="text/css" href="'https://kit.fontawesome.com/42deadbeef.js'">

<style type="text/css">
  .search-icon{
    position: absolute;
    z-index: 10;
    right: 45%;
    top: 20px;
    color: blue;
  }
  .btn{
    font-size: 16px;
    border-radius: 4px;
    
  }
</style>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: blue; font-size: 17px;">
    <div class="container">
      <img src="images/vs.jpg" style="width: 30px; height: 30px;">
      <p style="color: white;"><b>VShop</b></p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav justify-content-center">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" href="home.html" style="color:white;">Home</a>
        </li>
        <li class="nav-item dropdown ml-2">
          <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="use.html">My Profile</a></li>
            <li><a class="dropdown-item" href="wish.html">Whish list</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="login.html">Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex col-5" >
        <input class="form-control col-sm-10" type="search" placeholder="Search for Products" aria-label="Search">
        <span class="fas fa-search search-icon"></span>
         </form>
      
    </div>
    <ul class="nav navbar-nav navbar-right" >
    	<li style="color:white;"><a  href="wish.html"><i  id="wlink"class="far fa-heart" style="color:white">Wishlist</i></a>
    </li>
      <li><a href="card.html"><span class="fa fa-shopping-cart" style="color:white;">Cart</a></span>
      	
            
      </ul>
  </div>
</nav>
	<div ng-app="wishlist" ng-controller="mycontroller" style="font-size: 17px; padding-top:5%;">

		<div class=" row mx-0  px-5">
    <div class="col-lg-4 col-md-2 mb-lg-0 mb-5"  ng-repeat="p in data">
    <div class="cardbody">
    <img  class="img"  ng-src={{p.pimg}}> </img>
    <div class="card-title">{{p.name}}</div>
    <div class="card-text">{{p.price}}</div>
    <div><button class="btn btn-outline-danger" ng-click='remove($index)'>Remove</button></div>

  </div>
    

</body>
<script type="text/javascript">
	var app=angular.module("wishlist",[])
	app.controller("mycontroller",function($scope){

$scope.data=[];

$scope.ls=  JSON.parse(localStorage.getItem('wish'));
$scope.pro= JSON.parse(localStorage.getItem('prod'));
console.log($scope.pro);

$scope.l= $scope.ls.length;
console.log($scope.l);
for(var i=0; i< $scope.l;i++){
var wishin =  $scope.pro.findIndex(function (el){
  return el.id==$scope.ls[i];
})

 $scope.data.push($scope.pro[wishin])
}
console.log($scope.data);

$scope.remove = function($index){

 $scope.new = $scope.ls.indexOf($index);
 $scope.data.splice($index, 1);
  $scope.ls.splice($index, 1);
}

	});
 </script>
</html>